# ---------------------------------------------------------
# RUST & CARGO
# ---------------------------------------------------------
/target/
**/*.rs.bk

# ---------------------------------------------------------
# BLOCKCHAIN 
# ---------------------------------------------------------
.env
.env.local
.env.*

wallet.json
id.json
my-keypair.json
*.pem

# ---------------------------------------------------------
# VS CODE
# ---------------------------------------------------------
.vscode/*

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

# ---------------------------------------------------------
# WINDOWS 
# ---------------------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.exe
*.dll
*.pdb

# ---------------------------------------------------------
# LINUX SPECIFIKUS
# ---------------------------------------------------------

*~
*.swp
*.swo